@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: transparent;
  --secondary: #f97316;
  --gradient: linear-gradient(180deg, #091E26 0%, #00131C 100%)

}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
  
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  height:12px
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari, and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }


    /* Hide scrollbar for IE, Edge, and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}



